---
interface Props {
    href: string;
    label: string;
}
const { href, label } = Astro.props;
---

<a
    {href}
    class="block cursor-pointer rounded-sm border bg-background px-3 py-2 transition-all hover:bg-secondary"
    aria-label={label}
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>
