---
import NavLink from "./NavLink.astro";
import House from "@lucide/astro/icons/house";
import Hammer from "@lucide/astro/icons/hammer";
import Github from "./Icons/Github.astro";
---

<header
    class="fixed top-0 z-50 flex h-14 w-full items-center justify-center border-b bg-background/80 backdrop-blur-3xl px-4"
>
    <nav class="w-5xl flex items-center justify-between">
        <ul class="flex gap-4">
            <NavLink href="/" label="Ir al inicio">
                <House size={18} aria-hidden="true" />
                <span class="hidden md:inline">Inicio</span>
            </NavLink>
            <NavLink href="/projects" label="Ir a proyectos">
                <Hammer size={18} aria-hidden="true" />
                <span class="hidden md:inline">Proyectos</span>
            </NavLink>
        </ul>
        <a
            href="https://github.com/Ermianr"
            aria-label="Visitar mi perfil de Github (se abre en nueva ventana)"
            class="p-2 rounded-sm transition-all hover:bg-secondary"
            target="_blank"
            rel="noopener noreferrer"
        >
            <Github aria-hidden="true" />
        </a>
    </nav>
</header>
